@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  height: 80vh;
  width: 90vw;
}

.panel {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 10px;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.3;
  transition: all 700ms ease-in;
}

.active {
  flex: 5;
}

.panel h3 {
  position: absolute;
  font-size: 30px;
  left: 40px;
  bottom: 10px;
  color: #fff;
  opacity: 0;
}

.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width:540px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}